<!DOCTYPE html> <html lang="fr">

{% block stylesheets %}
<link href="{{ asset('css/html3.css') }}" rel="stylesheet" />
<link href="{{ asset('js/html3.css') }}" rel="stylesheet" />
<link href="{{ asset('css/bootstrap/css/bootstrap-theme.min.css') }}" rel ="stylesheet"/>
<link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel ="stylesheet"/>
{% endblock %}


{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>About</title>


{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% endblock %}


{% block body %}





</head>

<body>
  <div class="row">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">Home</a>
        </div>
        <ul class="nav navbar-nav">
         <li><a href="{{path('about')}}">About</a></li>
       </ul>

       <ul class="nav navbar-nav navbar-right">
        <li><a href="{{path('creerUtilisateur')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

      </ul>
    </div>
  </nav>
</div>

<div>
  <div class="row">

    <div class="alert alert-success col-md-5" style="margin-left: 30%" >
      <strong>HELLLLOOOOOOO!</strong>
    </div>
  </div>

  <div class="row panel-group">
    <div class="panel panel-default">
      <div class="panel-body">
       <em>Vous étes sur mon site web , réaliser pour un projet en Licence 3 Infromatique donc ne vous en faites par trop s
       sur la maniére que j'ai codé , j'essairai de le maintenir et de mieux le modulariser</em>
     </div>
   </div>
 </div>

 <div class="col-md-10" style='margin-top:100px;margin-left:20px;margin-right:0px;'>
  <div class="panel panel-default">
    <div class="row">

      <div class="panel-heading col-md-5 " style="font-size: 18px;display: inline-block;">
       <strong>Ghouas Abdelhak</strong> 
     </div>
   </div>
   <div class="row">

     <div class="panel-body">
       <em> Un site plus de partage de différent fichier sois photo video ou des article écris par vous meme </em> 
     </div>
   </div>
 </div>
</div>





</body>
{% endblock %}


<footer style="font-size: 12px;">  

 <div style="">
  &copy; Copyright 2018 by <a href="{{path('about')}}">Abdelhak</a>.
</div>

</footer>


</html>
