<!DOCTYPE html> <html lang="fr">


{% block stylesheets %}
<link href="{{ asset('css/html3.css') }}" rel="stylesheet" />
<link href="{{ asset('js/html3.css') }}" rel="stylesheet" />
<link href="{{ asset('css/bootstrap/css/bootstrap-theme.min.css') }}" rel ="stylesheet"/>
<link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel ="stylesheet"/>

<style type="text/css">

.pub{
  position: relative;
  width:100%;
  box-shadow: 1px 1px 10px #000;
  background-color: #F2F2F2;
}
.pub ul{
  padding-left: 20%;
  margin-bottom: 5px;
  background-color: #333;
}
.pub ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 20px;
  line-height: 20px;
}
.pub ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.pub ul li:hover{
  background-color: #F2F2F2;
}
.pub ul li:hover a{
  color: #000;
}

</style>
{% endblock %}



{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title> </title>

{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script >

  $(document).ready(function(){

    var chat = document.getElementById("element");
    chat.scrollTop = chat.scrollHeight;


    $(".select").click( function(){
      fileElem.click();
    });

    $("#lienComment").click(function(){

      $("#buttonComment").click();

    });

    $("#message").click(function(){

      $("#buttonMessage").click();

    });

    
  });           

</script>

{% endblock %}






{% block body %}

<body style=" background-color: #e1e1e1 ">


   <div class="row">
    <div class="col-md-12">
     <nav class="navbar navbar-inverse">
       <div class="navbar-header">
         <a class="navbar-brand"  href="{{path('profile')}}" >
           {{user}}
         </a>
       </div>
       <ul class="nav navbar-nav">
         <li class="active"><a href="/home">Home</a></li>
         <li><a href="{{path('about')}}">About</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="{{path('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
       </ul>
     </nav> 
   </div>
 </div>





 <div class="col-md-2">

  <div style="min-height:100vh;  display: block; box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);">
    <div id="infouser" style="border-bottom: 1px solid #e1e1e1;padding: 0px">
     <p style="width: 90px; height: 90px;margin-left: 27%; border-radius: 100px;overflow: hidden;">
      <img src='{{asset(profile)}}' width="90px" height="90px">
    </p>
    <a href="{{path('home')}}"
    style="font-size: 18px;text-decoration: none; display: block;margin-top: 5px;
    text-align: center">{{user}}</a>
  </div>
  <div class="localiser">
    <ul>
      <li><span class="glyphicon glyphicon-th-list"></span> Espace de Publications</li>

    </ul>
  </div>
  
  <div class="localiser">
    <ul>
      <li><span class="glyphicon glyphicon-bookmark"></span> Mes Publication</li>

      <li> <a href="{{path('publication')}}?type=photo" >  Mes Photos </a> </li>
      <li> <a href="{{path('publication')}}?type=video" >  Mes Videos </a> </li>
      <li> <a href="{{path('publication')}}?type=document" >  Mes Documents </a> </li>
      <li> <a href="{{path('publication')}}?type=article" >  Mes Articles </a> </li>

    </ul>


  </div>
</div>

</div>

<div class="row">

  <div class=" col-md-6" >

    <div class="row">
      <div class="col-md-12">

        <form method="POST" action="{{path('poste')}}"  enctype="multipart/form-data">
          <div class="pub" >
           <ul >
            <li style="display:inline-block;">
              <a href="#" id="fileSelect" name="video" class="select"><span class="glyphicon glyphicon-plus"></span>
               <span class="glyphicon glyphicon-facetime-video"></span> Video</a>
             </li>

             <li style="display:inline-block;">
              <a href="#" id="fileSelect" name="photo" class="select"><span class="glyphicon glyphicon-plus"></span>
                <span class="glyphicon glyphicon-picture"></span> Photo</a>
              </li>


              <li style="display: inline-block;">
                <a href="#" id="fileSelect" name="document" class="select"><span class="glyphicon glyphicon-paperclip"></span>
                 <span class="glyphicon glyphicon-file" ></span> Document</a>
               </li>
               <input type="file" id="fileElem" name="file" style="display:none" >

             </ul>
             <textarea style=" display:block; width: 100%" id="contenudelapub"  name="nom" placeholder="Vous pouvez ajouter une publication ici... "></textarea>

             <button type="submit" id="poster" class="btn btn-primary">
               <span class="glyphicon glyphicon-edit"></span> Poster
             </button>

           </div>
         </form>
         <div class="row" style="margin-left:10%;">
    {% if ErreurPub is defined %}
    <div class="alert alert-danger col-sm-4 col-sm-push-3">
      <strong>Ouups!</strong>

      {{ErreurPub}}

    </div>
    {% endif %}
  </div>
       </div>
     </div>



     <div class="row">
      <br>
    </div>


    <div class="row">

     <div class="w3-container col-md-12" style=" border-color: #e1e1a1  ">
      {% for pub in publication%}
      <div class="media" style=" background-color:rgb(255,255,255);">
        <div class="media-right media-top">

          <img src='{{asset(pub.user.image)}}' class="media-object img-circle" width="50px" height="50px">

        </div>

        <div class="media-body" >
          <h4 class="media-heading"><a href="#">{{pub.user.nom}}</a></h4>
          <div>           

            {% if pub.type is defined %}

            {%if pub.type =="photo" %}
            <p style="margin-left: 10px;">{{pub.nom}}</p>
            <div class="w3-container" style="margin-left: 10px;" >
              <img src='{{asset(pub.chemin)}}'  width="500px" height="200px">
            </div>
            {% elseif pub.type =="video" %}
            <p>{{pub.nom}}</p>
            <div class="w3-container">
              <video controls src='{{asset(pub.chemin)}}'  width="500px" height="200px"> </video>
            </div>
            {% elseif pub.type=="article" %}
            <div class="w3-container" style="margin-left: 10px;">
              <p> {{pub.nom}}</p>
            </div>
            {% elseif pub.type=="document" %}
            <div class="w3-container" style="margin-left: 10px;">
             
              <p> {{pub.nom}}</p>
               <iframe src='{{asset(pub.chemin)}}' width="500px" height="200px" align="middle"></iframe>

            </div>
                <a href={{asset(pub.chemin)}} style="float:right;"> <span class="glyphicon glyphicon-download-alt">Download </span></a>
            {% endif%}



            <div>
              <span style='font-size:12px; color: grey'> publier le:{{ pub.date|date("Y-m-d H:i") }}</span>
            </div>
            {% endif %}

          </div>

        </div>
        <div>
          <p style="margin-left: 5px"></p>
        </div>
        <div style='border-top:1px solid #e1e1e1;padding-top:10px'>

          <div class="container">
            <button type="button" class="btn btn-info" style="background-color: #555555;" data-toggle="collapse" data-target={{'#'~pub.id}}> Commentaires <span class="badge" style='font-size:15px ;margin-left:10px;' >{{pub.nbrcomment}}</span>
            </button> 

            <div id={{pub.id}} class="collapse">

              {% if commentaire is defined %}
              {% for comment in commentaire%}
              {%if comment.publications.id==pub.id%}


              <div class="col-md-6" style='margin-top:10px;margin-left:20px;margin-right:0px;'>
                <div class="panel panel-default">
                  <div class="panel-heading" style="font-size: 10px">
                   <span><img src='{{asset(pub.user.image)}}' class="media-object img-circle" width="20px" height="20px" style="display: inline-block;" ></span> <strong>{{comment.user.nom}}</strong> <span class="text-muted">commented {{ comment.date|date("Y-m-d H:i") }}</span>
                 </div>
                 <div class="panel-body">
                   <em>   {{comment.comment}}</em>
                 </div>
               </div>
             </div>
             <div class=""></div>

             {% endif %}
             {% endfor %}
             {% endif %}

           </div>
         </div>

         <form  method="POST" action="{{path('comment')}}"  enctype="multipart/form-data" >

          <textarea type='text' name="comment"  style='margin-top:10px;margin-left:10px;width:97%;height:35px;overflow:hidden' class='form-control' placeholder='Ajouter un commentaire...'></textarea>
          <a type="submit" id="lienComment" name="idPub" value={{pub.id}} >
            <span class='glyphicon glyphicon-send' style='margin-left: 94%;top: -25px;cursor:pointer'></span>
          </a>
          <select name="idPub" style="display: none" >
           <option value={{pub.id}}  ></option>
         </select>
         <button  type="submit" value={{pub.id}} id="buttonComment" style="display: none"></button>
       </form>

     </div>
   </div> 

   {% endfor %}       
 </div>
</div>


</div>
<div class="col-md-3" style="margin-left:40px ; border: solid 3px; ">


  <div class="row" id="element" style="overflow: scroll; height:400px;">

   <div class="col-md-12" >


    {% if messages is defined %}
    {%for message in messages%}
    <div class="row">
      <div class="media">
        <div class="media-left">
          <img src='{{asset(message.emetteur.image)}}' class="media-object" style="width:30px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{message.emetteur.nom}}</h4>
          <div>
           <em style="font-size: 12px;">{{message.message}}</em>  <span style="float: right ;font-size: 9px;">Send {{ message.date|date("Y-m-d H:i") }}</span>
         </div>
       </div>
     </div> 
   </div>
   <div class="row" style="background-color:rgb(255,255,255); "> <br></div>
   {% endfor %}
   {% else %}
   <div style="margin-top:50px; "> <em style="font-size: 12px;color:grey;"> Aucun message n'est enregistrer pour l'instant </em> </div>
   {% endif %}
 </div>
</div>

<div class="row">  
 <div class="col-md-12" > 
  <form method="POST" action="{{path('message')}}"  enctype="multipart/form-data" >
    <textarea type='text' name="message"  style='width: 100%; overflow:hidden' class='form-control' placeholder='Ajouter un message...'></textarea>
    <a  id="message" n >
      <span class='glyphicon glyphicon-send' style='margin-left: 94%;top: -25px;cursor:pointer'></span>
    </a>
    <button  type="submit"  id="buttonMessage" style="display: none"></button>
  </form>
</div>
</div>



</div>



{% endblock %}

</html>


